.find-icons{
    display:flex;
    justify-content:space-between;
    
}

.find-icons__icon{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.find-icons__icon i{
    font-size:30px;
}

.find-icons__icon span:nth-child(2){
    padding-top:25px;
}

.find-icons__icon span:nth-child(3){
    margin-top:6px;
}

.recommended-friends{
    border-top:var(--main-border);
    border-bottom:var(--main-border);
    margin:25px 0px;
    padding:15px 0px;
}

.recommended-friends__title{
    color:var(--grey-text);
    
}

.recommended-friends span{
    margin:100px 0;
    display:block;
    text-align:center;
    color:var(--grey-text);
    font-size:18px;
}

.open-chat__header{
    display:flex;
    justify-content:space-between;
    color:var(--grey-text);
    margin-bottom:10px;
}

.open-post{
    display:flex;
    justify-content:space-between;
    padding-bottom:12px;
}

.open-post:not(:nth-child(2)){
        border-top:var(--main-border);
}

.open-post__title{
    margin-top:35px;
    font-weight:600;
    margin-bottom:7px;
    text-transform:uppercase;
}

.open-post__hashtags{
    text-transform:uppercase;
    color:var(--grey-text);
    margin-bottom:7px;
}

.open-post__members{
    display:flex;
    align-items:center;
}

.open-post__members img{
    width:15px;
    height:15px;
    border-radius:40%;
    margin-right:5px;
}

.open-post__members-count{
    color:var(--grey-text);
    font-size:16px;
}

.open-post__members .divider{
    width:1px;
    height:16px;
    background-color:var(--grey-text);
    margin:0px 5px;
}

.open-post__members-status{
    color:#ffb0e0;
}

.open-post__photo{
    width:115px;
    height:115px;
    border-radius:10px;
}

.open-post__column:nth-child(2){
    margin-top:12px;
    position:relative;
}

.open-post__photo__heart-count{
    background-color:var(--grey-text);
    color:#FFFFFF;
    padding:6px 10px;
    border-radius:12px;
    font-size:14px;
    position:absolute;
    right:10px;
    bottom:10px;
}

