.badge {
    background-color:tomato;
    width:28px;
    height:28px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:14px;
    color:white;
    font-weight:600;
}

.badge--small{
    background-color:tomato;
    width:6px;
    height:6px;
    display:flex;
    border-radius:3px;
    position:absolute;
}

.new-badge{
    background-color:tomato;
    border-radius:50%;
    font-weight:600;
    font-size:13px;
    color:white;
    padding:2px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:10px;
    width:15px;
    height:15px;
}