.nav{
    position:fixed;
    bottom:0;
    width:100%;
    background-color:#F9F9FA;
    padding:25px 40px;
    box-sizing:border-box;
    border-top: 1px solid rgba(0,0,0,0.15);
    margin-top:100px;
    z-index:1;

}

.nav__list{
    display:flex;
    justify-content:space-between;
}

.nav__link{
    color:#2F363E;
    position:relative;
}

.nav__link i{
    font-size:30px;
}


.nav__message-notification{
    background-color:tomato;
    width:28px;
    height:28px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:14px;
    color:white;
    font-weight:600;
    position:absolute;
    left:18px;
    bottom:15px;
}

.nav__ellipsis-notification{
    background-color:tomato;
    width:6px;
    height:6px;
    display:flex;
    border-radius:3px;
    position:absolute;
    left:30px;
    bottom:30px;
}