.screen-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px var(--horizontal-space);
    margin-top:60px;
    margin-bottom:30px;
}

.screen-header__title{
    font-size:28px;
    font-weight:600;
    color:#191919;
}

.screen-header__icons span{
    margin-left:20px;
    color:#494949;
}

.screen-header__gear-notification{
    right:18px;
    top:60px;
}

/*nicola 쌤은 alt-header라는 component 파일을 새로 만들어 새로운 헤더를 저장함-->*/

.screen-header--center{
    display:flex;
    align-items:center;
    padding:0px var(--horizontal-space);
    margin-top:60px;
    margin-bottom:30px;
    justify-content:space-between;
}

.chat-screen__screen-header--center{
    display:flex;
    align-items:center;
    padding:0px var(--horizontal-space);
    margin-top:40px;
    margin-bottom:30px;
    position:fixed;
    width:100%;
    box-sizing:border-box;
}

.screen-header--center__backward-icon{
    margin-right:auto;
    
}

.screen-header--center__title{
    font-size:28px;
    font-weight:600;
    color:#191919;
}

.screen-header--center__icons{
    margin-left:auto;
}

.screen-header--center__icons span{
    margin-left:20px;
    color:#494949;
}

.screen-header--center__icons i{
    color:#494949;
}

.screen-header--center__icons i:not(:first-child){
    margin-left:20px;
}
